.react-table-view {
  margin: 0;
  padding: 2em;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.5;
}

.react-table-view .pure-table thead {
  color: #ABEAFC !important;
  background: black;
}

.react-table-view .sort-up {
  display: inline-block;
  margin-left: 0.6em;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 0.6em solid #ABEAFC;
}

.react-table-view .sort-down {
  display: inline-block;
  margin-left: 0.6em;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;  
  border-top: 0.6em solid #ABEAFC;
}
