.react-table-view {
  margin: 0;
  padding: 2em;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.5;
}

.react-table-view .pure-table thead {
  color: #ABEAFC !important;
  background: black;
}

.react-table-view .sort-up {
  display: inline-block;
  margin-left: 0.6em;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 0.6em solid #ABEAFC;
}

.react-table-view .sort-down {
  display: inline-block;
  margin-left: 0.6em;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-top: 0.6em solid #ABEAFC;
}

.react-table-view table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #cbcbcb;
  empty-cells: show;
  color:#666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 1.5em;
}

.react-table-view table th {
  padding: 1em;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
}

.react-table-view table tr {
  text-align: center;
  padding-left: 1em;
}
.react-table-view table td {
  padding: 0.6em;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
}
